src/styles/HeroSection.module.css
.hero {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgba(0, 0, 0, 0.3); */
    backdrop-filter: blur(3px) ;
    background: url('/background6.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
  }
  
  .overlay {
    text-align: center;
  }
  
  .overlay h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  .overlay p {
    font-size: 1.5rem;
  }

  .exploreButton {
    padding: 0.75rem 2rem;
    font-size: 1rem;
    background-color: #ff4500;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  .exploreButton:hover {
    background-color: #e63900;
    transform: scale(1.05);
  }
  
  /* Add more custom styles as needed */
  